@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: rgb(255, 255, 255);
  --background-start-rgb: rgb(40, 40, 40);
}



body {
  padding-left: 16rem;
  /* padding: 20px; */
  color: var(--foreground-rgb);
  background: var(--background-start-rgb);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
